/* --------------------------------------------------------- */
/* FONTS                                                     */
/* --------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap");

/* Tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.primary.500");
  color: theme("colors.white");
  font-family: theme("fontFamily.sans");
  line-height: theme("lineHeight.6");

  @apply text-base md:text-lg;
}
